<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>글 쓰기</h1>
    <form action="{% url 'articles:create' %}" method="post">
      {% csrf_token %}
      <input type="text" name="title" id="title" />
      <textarea name="content" id="content" cols="30" rows="10"></textarea>
      <input type="submit" value="글 쓰기" />
    </form>
  </body>
</html>
