{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% block body %}
  <div class="card text-white bg-dark my-3">
    <div class="card-body">
      <p><i class="bi bi-person-circle"></i>
        ID: {{ user.username }}</p>
      <p><i class="bi bi-envelope-fill"></i>
        Email: {{ user.email }}</p>
      <p><i class="bi bi-emoji-sunglasses-fill"></i>
        Name: {{ user.last_name }}{{ user.first_name }}</p>
      <p><i class="bi bi-star-fill"></i>
        평균 별점: {{ user.avg_grade }}
      </p>
      <div class="m-0">
        <span class="me-3"><i class="bi bi-people-fill"></i>
          <a href="{% url 'accounts:followings' user.pk %}" class="text-decoration-none text-white">
            팔로워: {{ user.followings.all.count }}
          </a>
        </span>
        <span><i class="bi bi-person-heart"></i>
        <a href="{% url 'accounts:followers' user.pk %}" class="text-decoration-none text-white">
          팔로잉: {{ user.followers.all.count }}
        </a>
        </span>
      </div>
    </div>
  </div>
  {% if request.user != user %}
    {% if request.user in user.followings.all %}
    <a href="{% url 'accounts:follow' user.pk %}" class="btn btn-dark">팔로우 취소</a>
    {% else %}
    <a href="{% url 'accounts:follow' user.pk %}" class="btn btn-dark">팔로우</a>
    {% endif %}
  {% endif %}
  <div class="text-center">
    {% if request.user == user %}
      <div class="">
        <a href="{% url 'accounts:update' %}" class="btn btn-dark user-btn">회원정보 수정</a>
        <a href="{% url 'accounts:change_password' %}" class="btn btn-dark">비밀번호 변경</a>
        <!-- Modal trigger button -->
        <a type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#modalId">
          회원 탈퇴
        </a>
      </div>

      <!-- Modal Body -->
      <!-- if you want to close by clicking outside the modal, delete the last endpoint:data-bs-backdrop and data-bs-keyboard -->
      <div class="modal fade" id="modalId" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalTitleId">회원 탈퇴</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
              정말로 탈퇴하시겠습니까?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">그만두기</button>
              <a href="{% url 'accounts:delete' %}" class="btn btn-dark">탈퇴하기</a>
            </div>
          </div>
        </div>
      </div>

      <!-- Optional: Place to the bottom of scripts -->
      <script>
        const myModal = new bootstrap.Modal(document.getElementById('modalId'), options)
      </script>
    {% endif %}
  </div>
  <h2 class="mt-5 text-center">게시글 목록</h2>
  <p class="text-center">2개까지만 출력</p>
  {% for article in articles %}
    <div class="card text-white bg-dark my-3">
      <div class="card-body">
        <div>
          <a href="{% url 'movies:detail' article.movie.pk %}" class="d-inline-block align-top">
            <img src="{{ article.movie.image_thumbnail.url }}" alt="">
          </a>
          <div class="d-inline-block align-top ms-3">
            <div class="d-flex flex-column justify-content-between" style="height: 100px;">
              <div>
                <p class="m-0 fw-bold opacity-75">
                  {{ article.movie }}
                </p>
                <p class="m-0 opacity-75">
                  평점 | {{ article.movie.avg_grade }}
                </p>
              </div>
              <div class="m-0">
                <p class="m-0 opacity-75">
                  <i class="bi bi-star-fill"></i>
                  {{ article.grade }}
                </p>
              </div>
            </div>
          </div>
          <span class="position-absolute opacity-75" style="right: 1rem;">
            {{ article.created_string }}
          </span>
        </div>
        <div class="mt-3">
          <h4 class="card-title">{{ article.title }}</h4>
          <p class="card-text">{{ article.content }}</p>
          <div class="d-flex gap-3">
            <div>
              {% if request.user in article.like_users.all %}
                <i class="bi bi-heart-fill"></i>
              {% else %}
                <i class="bi bi-heart"></i>
              {% endif %}
              {{ article.like_users.count }}
            </div>
            <a href="{% url 'articles:detail' article.pk %}" class="text-decoration-none text-white">
              <p class="m-0">
                {% if article.comment_set.all %}
                  <b><i class="bi bi-chat-dots-fill"></i>
                  {{ article.comment_set.all|length }}</b>
                {% else %}
                  <b><i class="bi bi-chat-dots-fill"></i> 0</b>
                {% endif %}
              </p>
            </a>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}

  <h2 class="mt-5 text-center">좋아요한 게시글 목록</h2>
  <p class="text-center">2개까지만 출력</p>
  {% for like_article in like_articles %}
  <div class="card text-white bg-dark my-3">
    <div class="card-body">
      <div>
        <a href="{% url 'movies:detail' like_article.movie.pk %}" class="d-inline-block align-top">
          <img src="{{ like_article.movie.image_thumbnail.url }}" alt="">
        </a>
        <div class="d-inline-block align-top ms-3">
          <div class="d-flex flex-column justify-content-between" style="height: 100px;">
            <div>
              <p class="m-0 fw-bold opacity-75">
                {{ like_article.movie }}
              </p>
              <p class="m-0 opacity-75">
                평점 | {{ like_article.movie.avg_grade }}
              </p>
            </div>
            <div class="m-0">
              <p class="m-0 opacity-75">
                <i class="bi bi-person-circle"></i>
                {{ like_article.user }}
              </p>
              <p class="m-0 opacity-75">
                <i class="bi bi-star-fill text-warning"></i>
                {{ like_article.grade }}
              </p>
            </div>
          </div>
        </div>
        <span class="position-absolute opacity-75" style="right: 1rem;">
          {{ like_article.created_string }}
        </span>
      </div>
      <div class="mt-3">
        <h4 class="card-title">{{ like_article.title }}</h4>
        <p class="card-text">{{ like_article.content }}</p>
        <div class="d-flex gap-3">
          <div>
            {% if request.user in like_article.like_users.all %}
              <i class="bi bi-heart-fill"></i>
            {% else %}
              <i class="bi bi-heart"></i>
            {% endif %}
            {{ like_article.like_users.count }}
          </div>
          <a href="{% url 'articles:detail' like_article.pk %}" class="text-decoration-none text-white">
            <p class="m-0">
              {% if like_article.comment_set.all %}
                <b><i class="bi bi-chat-dots-fill"></i>
                {{ like_article.comment_set.all|length }}</b>
              {% else %}
                <b><i class="bi bi-chat-dots-fill"></i> 0</b>
              {% endif %}
            </p>
          </a>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
{% endblock body %}
