{% extends 'base.html' %}
{% block body %}
<h1>{{ user.username }}님의 팔로잉 목록</h1>
{% if not followers %}
<p>팔로잉하는 유저가 없습니다.</p>
{% endif %}
{% for follower in followers %}
<div class="card text-white bg-dark my-3">
  <div class="card-body">
    <p><i class="bi bi-person-circle"></i>
      ID: {{ follower.username }}</p>
      <p><i class="bi bi-envelope-fill"></i>
        Email: {{ follower.email }}</p>
        <p><i class="bi bi-emoji-sunglasses-fill"></i>
          Name: {{ follower.last_name }}{{ follower.first_name }}</p>
          <p><i class="bi bi-star-fill"></i>
            평균 별점: {{ follower.avg_grade }}
          </p>
          <div class="m-0">
            <span class="me-3"><i class="bi bi-people-fill"></i>
              <a href="{% url 'accounts:followings' follower.pk %}">
                팔로워: {{ follower.followings.all.count }}
              </a>
            </span>
            <span><i class="bi bi-person-heart"></i>
              <a href="{% url 'accounts:followers' follower.pk %}">
                팔로잉: {{ follower.followers.all.count }}
              </a>
            </span>
          </div>
        </div>
      </div>
{% endfor %}
{% endblock body %}