{% extends 'base.html' %}
{% block body %}
  <div class="text-center">
    <h1 class="mb-5">글 목록</h1>
    {% if request.user.is_authenticated %}
      <div class="text-end">
        <a href="{% url 'articles:create' %}" class="btn btn-dark">글쓰기</a>
      </div>
    {% endif %}
    <div class="table-responsive">
      <table class="table text-light">
        <thead>
          <tr>
            <th scope="col">pk</th>
            <th scope="col">user</th>
            <th scope="col">movie</th>
            <th scope="col">title</th>
            <th scope="col">댓글</th>
            <th scope="col">좋아요</th>
          </tr>
        </thead>
        <tbody>
          {% for article in articles %}
            <tr class="">
              <td scope="row">{{article.pk}}</td>
              <td>{{article.user}}</td>
              <td>{{article.movie}}</td>
              <td>
                <a href="{% url 'articles:detail' article.pk %}">{{ article.title }}</a>
              </td>
              <td>{{ article.comment_set.count }}</td>
              <td>{{ article.like_users.count }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <ul class="pagination justify-content-center">
      <!-- 이전페이지 -->
      {% if articles.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ articles.previous_page_number }}">이전</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
        </li>
      {% endif %}
      <!-- 페이지리스트 -->
      {% for page_number in articles.paginator.page_range %}
        {% if page_number == articles.number %}
          <li class="page-item active" aria-current="page">
            <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
          </li>
        {% else %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
          </li>
        {% endif %}
      {% endfor %}
      <!-- 다음페이지 -->
      {% if articles.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ articles.next_page_number }}">다음</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
        </li>
      {% endif %}
    </ul>
    <!-- 페이징처리 끝 -->
  </div>
{% endblock body %}